/* Reset */
* {
  box-sizing: border-box;
}

/* Tags */
h1,
h3,
h4,
h5 {
  font-weight: bold;
}

h1,
h3,
h4,
h5,
p {
  margin: 0;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

section {
  padding: 20px;
}

/* Utility Classes */
.d-table {
  display: table;
}
.d-table > div {
  display: table-row;
}
.d-table > div > p {
  display: table-cell;
}
.d-table > div > p:nth-child(2) {
  width: 60px;
}

/* Search */
.sec-search h5 {
  padding-bottom: 10px;
}

.sec-search .list-group-item {
  padding: 0.5rem;
}

#searched-cities .list-group-item:hover {
  cursor: pointer;
}

/* Alert */
.alert {
  margin: 0 20px;
}

/* Modal */
legend {
  font-size: 1rem;
  font-weight: 700;
}

/* Forecast Sections */
section h4 {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 0.5rem;
}

/* Forecast Current */
#forecast-current .card-header h4 {
  font-size: 2rem;
  margin-bottom: 0;
}

#forecast-current .card-body .temperature {
  font-size: 3rem;
  line-height: 1;
}

#forecast-current .card-body .temp-unit {
  font-size: 1.5rem;
  margin-left: 10px;
}

#forecast-current .d-table > div > p {
  padding: 5px 20px 5px 0;
}
#forecast-current .d-table > div > p:last-child {
  padding-right: 0;
}

/* Forecast 5-Day */
#forecast-5day .d-flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

#forecast-5day .d-flex-row .card {
  flex: 1 0 180px;
}

#forecast-5day .card-body {
  padding: 15px 12px;
}

#forecast-5day .d-table {
  width: 100%;
}
#forecast-5day .d-table > div > p {
  padding: 5px 5px 5px 0;
}
#forecast-5day .d-table > div > p:last-child {
  padding-right: 0;
}
