* {
  box-sizing: border-box;
}

/* Tags */
h1,
h3,
h4,
h5 {
  font-weight: bold;
}

h1,
h3,
h4,
p {
  margin: 0;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }
}

section {
  padding: 20px;
}

/* Search */
.sec-search h4 {
  padding-bottom: 10px;
}

.sec-search .list-group-item {
  padding: 0.5rem;
}

/* Forecast Sections */
.card-body p {
  margin-bottom: 0.5rem;
}
